@tailwind base;
@tailwind components;
@tailwind utilities;

// D1F0B1
// B6CB9E
// 92B4A7
// 8C8A93

// 000000
// 0E402D
// 295135
// 5A6650

// EA526F
// 070600
// F7F7FF
// 23B5D3

// 1F271B
// 19647E
// 28AFB0
// F4D35E

body {
  scroll-behavior: smooth;
  color: #1f271b;
  font-family: "Roboto Mono", monospace;
  background-color: #28afb0;
  background-image: url(/src/assets/facets.png);
}

.headerContainer {
  background-color: #28afb0;
  // box-shadow: 0 2px 0 0 #1f271b;
  box-shadow: 0 0.5em 1em -0.125em rgba(#1f271b, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  .login {
    color: #1f271b;
  }
  .logo {
    font-family: "Rubik Glitch Pop", system-ui;
  }
  .signUp {
    background-color: #f4d35e;
    color: #1f271b;
    transition: 0.25s;
    box-shadow: 0 2px 0 0 #1f271b;
    font-weight: 600;
  }
  .signUp:hover {
    color: #28afb0;
    // margin-top: 2px;
    // margin-bottom: -2px;
    box-shadow: none;
  }
  .signUp:hover li {
    border-top: 2px solid #28afb0;
    // margin-top: 2px;
    // margin-bottom: -2px;
    box-shadow: none;
  }
  .userSvg {
    border: 1px solid #f4d35e;
    border-radius: 50%;
  }
}
@media (max-width: 425px) {
  .headerContainer {
    header {
      padding: 0 10px;
    }
    .logoLink {
      flex-direction: column;
      font-size: 15px;
      padding: 5px 10px;
    }
    .login,
    .signUp {
      font-size: 15px;
      padding: 10px 10px;
    }
  }
}
.home {
  h1 {
    font-size: xx-large;
    font-weight: 900;
  }
  h1 span {
    color: #f4d35e;
  }
  .signUp {
    background-color: #f4d35e;
    color: #1f271b;
    transition: 0.25s;
    box-shadow: 0 2px 0 0 #1f271b;
    font-weight: 600;
  }
  .signUp:hover {
    color: #28afb0;
    // margin-top: 2px;
    // margin-bottom: -2px;
    box-shadow: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 280px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    // cursor: pointer;

    // z-index: -1;
  }

  .maestro {
    padding-top: 20px;
    width: 90%;
    transition: 1s;
    margin: 0 auto;
    border-radius: 15px;
    object-fit: cover;
    height: 60%;
  }
  .like {
    color: #28afb0;
    font-size: 70px;
    cursor: pointer;
    transition: 1s;
    .number {
      font-size: 30px;
    }
  }
  .like:hover {
    color: #28b0b07f;
  }
  // .heart {
  //   width: 60px;
  //   height: 60px;
  //   cursor: pointer;
  //   transition: 1s;
  // }
  // .heart:hover {
  //   width: 70px;
  //   height: 70px;
  // }
  .signUp:hover {
    color: #28afb0;
    // margin-top: 2px;
    // margin-bottom: -2px;
    box-shadow: none;
  }
  .top,
  .bottom {
    text-align: center;
  }
  .buttons {
    margin-top: -2.5rem;
  }
  .bottom {
    padding: 0 15px;
    position: absolute;
    top: 100%;
    transition: 1s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .bottom div {
    width: 100%;
  }
  // button {
  //   // background-color: goldenrod;
  //   // padding: 10px;
  //   // border: none;
  //   // color: white;
  // }

  .shape {
    background-color: #f4d35e;
    width: 100%;
    height: 60%;
    transform: skewY(345deg);
    position: absolute;
    top: -15%;
    transition: 1s;
  }

  .top {
    position: absolute;
    z-index: 1;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
  }
  .top h1 {
    font-size: x-large;
    font-weight: 900;
    // align-self: center;
    // justify-self: center;
    text-align: center;
  }
  .card:hover .bottom {
    top: 50%;
  }
  .card:hover .top h1 {
    display: none;
  }

  .card:hover .shape {
    transform: skewY(390deg);
  }
  .card:hover .description {
    margin-top: -5rem;
  }
  .card:hover img {
    width: 40%;
    justify-self: center;
  }
}

@media (max-width: 425px) {
  .home,
  .movieCont {
    flex-direction: column;
    .w-2\/4 {
      width: 90%;
      text-align: center;
      margin-bottom: 3rem;
      h1 {
        margin-top: 2.5rem;
        font-size: x-large;
        font-weight: 800;
      }
      .buttons {
        margin-top: -1.5rem;
      }
    }
    .card {
      overflow: scroll;
    }
    .card:hover h1 {
      margin-top: 1.5rem;
      font-size: large;
    }
    .card:hover .description {
      margin-top: 0;
      margin-bottom: 3rem;
      font-size: smaller;
    }
    .like {
      font-size: 50px;
    }
  }
}

.modal_box {
  box-shadow: 0px 4px 8px #1f271b;
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f4d35e;
  .in {
    border-bottom: 3px solid #62c0a2;
    color: #1f271b;
  }
  .signUp {
    background-color: #28afb0;
  }
  .signUp:hover {
    color: #f4d35e;
  }
}

@media (max-width: 425px) {
  .modal_box {
    width: 80%;
  }
}
// .input {
//   width: 100%;
//   outline: none;
//   border: 0;
//   font-size: 18px;
//   border-bottom: 1px solid lightgray;
//   margin-bottom: 20px;
// }
.footerContainer {
  background-color: #28afb0;
  box-shadow: 0 -0.125em 1em -0.125em rgba(#1f271b, 0.1);
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  // position: relative;

  footer {
    margin: 0 auto;
    text-align: center;
    font-size: smaller;
    .link {
      font-weight: 700;
    }
    .link:hover {
      text-decoration: underline;
    }
  }
}
.header-flyout-menu {
  display: none;
  position: relative;
}

.menu-toggle-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

.menu-content {
  margin-top: 3px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4d35e;
  border: 1px solid #1f271b;
  padding: 5px;
  border-radius: 0.25rem;
  z-index: 1000;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.menu-content li {
  padding: 5px 5px;
  cursor: pointer;
}

.menu-content li:hover {
  text-decoration: underline;
}
.menu li {
  list-style: none;
  border-top: 2px solid #1f271b;
  width: 20px;
  margin-bottom: 2px;
}

@media (max-width: 425px) {
  .header-flyout-menu {
    display: block;
  }
  .mobile {
    display: none;
  }

  .userLogo {
    flex-direction: row;
    font-size: 15px;
    padding: 10px 10px;
  }
  .footerContainer {
    footer {
      font-size: xx-small;
    }
  }
}
.movieCont {
  min-height: 100vh;
  .signUp {
    background-color: #f4d35e;
    color: #1f271b;
    transition: 0.25s;
    box-shadow: 0 2px 0 0 #1f271b;
    font-weight: 600;
  }
  .signUp:hover {
    color: #28afb0;
    // margin-top: 2px;
    // margin-bottom: -2px;
    box-shadow: none;
  }
}
